<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SDP2_PROJECT.Properties.Settings.DMRTConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\ATAUR\Documents\DMRT.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="SDP2_PROJECT.Properties.Settings.DMRTConnectionString1"
            connectionString="Data Source=SRILA-PC;Initial Catalog=DMRT;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
        <add name="SDP2_PROJECT.Properties.Settings.DMRTConnectionString2"
            connectionString="Data Source=LENOVO-IP500;Initial Catalog=DMRT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>